body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navPad {
  padding: 1.5em;

  background-color: black;
}

.navPad a {
  color: white;
}

.logo {
  font-size: 2em;
}

.navToggle {
  color: white;
}

.jumbotron {
  margin-bottom: 0;
}

.paral {
  min-height: 45em;
  background-attachment: fixed;
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: left;
}

.display-4,
.lead {
  color: white;
}

.paralsec {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./tiefighter.jpg");
  background-color: black;
}

.logoLinks {
  height: 3em;
  width: auto;
}

.logoArea {
  background-color: black;
  height: 15em;
}

.trailerArea {
  /* height: 50em; */
}

.featuresArea {
  /* height: 50em; */
}

.teamArea {
  /* height: 50em; */
}

.footerArea {
  height: 7em;
  background-color: black;
}

.sectionHeader {
  font-size: 5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.featuresimg {
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.2);
  /* height: 25em;
  width: 35em; */
}

.card {
  border: none;
  text-align: center;
}

.mikeIMG {
  object-fit: contain;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  margin-bottom: 2em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.2);
}

.profileIMG {
  object-fit: cover;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  margin-bottom: 2em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.2);
}

.linkedinIcon {
  font-size: 3em;
  color: #337ab7;
}
