body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navPad {
  padding: 1.5em;

  background-color: black;
}

.navPad a {
  color: white;
}

.logo {
  font-size: 2em;
}

.navToggle {
  color: white;
}

.jumbotron {
  margin-bottom: 0;
}

.paral {
  min-height: 50em;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.display-4,
.lead {
  color: white;
}

.paralsec {
  /* background-image: url("./spaceBG.jpg"); */
  background-color: black;
}

.logoLinks {
  height: 3em;
  width: auto;
}

.logoArea {
  background-color: black;
  height: 15em;
}

.trailerArea {
  height: 50em;
}

.featuresArea {
  height: 50em;
}

.teamArea {
  height: 50em;
}

.sectionHeader {
  font-size: 5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card {
  border: none;
  text-align: center;
}

.profileIMG {
  object-fit: cover;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  margin-bottom: 2em;
}

.linkedinIcon {
  font-size: 3em;
  color: #337ab7;
}
